data/test/test.dtd

<!ELEMENT test (systemtest*)>
<!ELEMENT systemtest (name, file, (error|(termtest*)))>
<!ELEMENT name (#PCDATA)>
<!ELEMENT file (#PCDATA)>
<!ELEMENT error (name, domain)>
<!ELEMENT domain (#PCDATA)>
<!ELEMENT termtest ((lib*), term, (error|result))>
<!ELEMENT lib (#PCDATA)>
<!ELEMENT result (#PCDATA)>
<!ELEMENT term (#PCDATA)>
